<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppBela</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastrocliente">
                <span class="oi oi-star" aria-hidden="true"></span> Cadastro Cliente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buscarcliente">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Buscar Cliente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastrocontato">
                <span class="oi oi-star" aria-hidden="true"></span> Cadastro Contato
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buscarcontato">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Buscar Contato
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
