@page "/"

<PageTitle>Index</PageTitle>

<h1>Bem vindo a essa aplicaçao!</h1>

Aqui você poderá criar clientes e contatos indicados por esses clientes.
Essa aplicação se comunica com uma API para cadastro dos dados.

A edição de dados é limitada por enquanto, porém vc poder recadastrar um cliente/contato usando o mesmo email, isso irá atualizar os dados.

A aplicação poderá ser melhorada.

Obrigado!

